<!DOCTYPE html>
<html lang="en">

<head>
    <title>Synonym Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" media="screen"/>
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Gafata|Nunito|Roboto+Slab|Quattrocento+Sans|Ubuntu:300" rel="stylesheet">
</head>

<a href="#home"></a>
<body>
</p><p><p>
  <div class="search-box"><center>
  <div class="textbox">
  <form action="{{ url_for('get_words', word=word) }}" method="GET">
  <input type="text" input class="textbox" name="q" placeholder="Search for synonyms..." autofocus>
  </div></form>
  </div></div></p></p>
  <center>
{% if mode == 'search' %}
  <div class="content"><b>{{word}}:</b> 
{% endif %}
<div class="synonyms">
<div class="text-wrap">
  {% if mode == 'search' %}
    <!-- This is pretty ugly, but it works --> 
     {% if (synonyms is iterable) and (synonyms is not string) %}
     <font size="5">
      <!-- Number each list of words with a common meaning -->
      <!-- Don't insert a comma if we're at the last word -->
      {% for w in synonyms %}
        {% if loop.last %}
         <a href="../words?q={{w}}" style="text-decoration: none;" >{{w}}</a>
        {% elif not loop.last %}
          <a href="../words?q={{w}}" style="text-decoration: none;" >{{w}}</a>,
        {% endif %}
      {% endfor %}
      <!-- If spellcheck is non-null, the user misspelled the search query -->
    {% elif spellcheck and (spellcheck != word) %}
          Did you mean 
          <!-- If the list has > 1 element, and we're on the last element, no "," but add a "or" and "?" -->
          <!-- Or if it has just one element, no "," and add a "?" -->
          <!-- If not the last element in loop, add "," to end -->
          {% for s in spellcheck %}
            {% if (loop.last) and (loop.length > 1) %}
              or <a href="../words?q={{s}}">{{ s }}</a>?
            {% elif (loop.length == 1) %}
                 <a href="../words?q={{s}}">{{ s }}</a>?
            {% elif not loop.last %}
              <a href="../words?q={{s}}">{{ s }}</a>,
            {% endif %}
          {% endfor %}
    {% else %}
      <!-- Otherwise, display Synonyms not found string -->
      {{ synonyms }}
    {% endif %}
  {% endif%}
</font><p><p></div></div>
<p><p></p></p>